nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') 정치인
        span.subtitle 대한민국 인물 사전 v1.0
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=isActive('/people/new') ? 'active' : '')
          a(href="/people/new", title="new people") 새인물 만들기
        //li(class=isActive('/articles/new') ? 'active' : '')
          //a(href="/articles/new", title="new article") New Article

      ul.nav.navbar-nav.navbar-center
        li
          input#search(type='search',class='search-box input-sm',placeholder='')

      ul.nav.navbar-nav.navbar-right
        li
        - if (req.isAuthenticated())
          //li
          //  a(href="/users/"+req.user.id, title="Profile") 프로파일
          li
            a(href="/logout", title="logout") 로그아웃
        - else
          li(class=isActive('/login') ? 'active' : '')
            a(href="/login", title="Login") 로그인
