head(prefix="og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title= pkg.name + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)
  // TODO. i added token here then it's shown to public, besso
  meta(name="csrf-token", content=csrf_token)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  //
     Opengraph tags
  meta(property="fb:app_id", content="293989217296609")
  meta(property="og:title", content=pkg.name + ' - ' + title)
  meta(property="og:description", content=pkg.description)
  meta(property="og:url", content="http://nodejs-express-demo.herokuapp.com")
  meta(property="og:image", content="http://blog.getbootstrap.com/wp-content/themes/bootstrap-blog/img/bootstrap-blog-logo.png")
  meta(property="og:site_name", content="Node.js Express Mongoose Demo")
  meta(property="fb:admins", content="1037213945")

  //
     Styles
  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/css/jquery.tagsinput.css")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
  link(rel="stylesheet", href="/css/app.css")

  //
     HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
