form(method="post", action="/articles/#{article._id}/comments", role="form")
  input(type='hidden', name='_csrf', value="#{csrf_token}")
  .form-group
    .col-sm-11
      textarea.form-control(type='text', rows="3", name="body", placeholder='Add your comment')
    .col-sm-1
      button.btn.btn-primary(type='submit') 등록