
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}

#footer #copyright {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

body {
  padding-top: 60px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.right {
  float: right;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar-header span.subtitle {
  display: block;
  font-size: 9px;
}

.navbar-brand {
  font-size: 14px;
  color: #000 !important;
}

.navbar-nav > li > a.travis{
  padding-top: 13px;
}

input.search-box {
	width: 345px;
	margin-top: 10px;
	margin-left:30px;
	font-size:18px;
	padding: 2px 5px;
	border: 1px solid #E2E2E2;
}

.article-row span.hate {
  margin-right: 20px;
  width: 60px;
}

.article-row a.name {
  margin-right: 20px;
}

.people-info {
  /* border:1px dotted #E2E2E2; */
}

/*
.navbar {
  display: none;
}
*/

/* Common ---------------------------------------------------------- */

/* Index Page ---------------------------------------------------------- */
span.hate {
  cursor: pointer;
}

/* Main Column ---------------------------------------------------------- */
.main-column {
  margin-top: 30px;
}

/* Right Column ---------------------------------------------------------- */
.right-column {
  margin-top: 30px;
}

/* Article Show ---------------------------------------------------------- */
.people-info {
  margin-top: 20px;
  margin-bottom: 30px;
}

.people-info .header {
  height:30px;
}

.people-info .name {
  float: left;
}

.people-info .author, .people-info .date {
  float:right;
  line-height:30px;
  margin-right: 10px;
}

.people-info .title {
  margin-left: 20px;
}

.people-info .body{
  height: 100px;
  overflow: hidden;
}


.article-info {
}

.article-info .body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-info .header {
  height:30px;
}

.article-info .date {
  float:right;
  line-height:30px;
  margin-right: 10px;
}

button#hate {
  float:right;
  margin-right:10px;
}

button#hate p.hate-label {
  margin-bottom: 0;
  font-size:10px;
}

.article-info #dml-buttons {
  float:right;
  margin-right: 20px;
}
