extends ../layouts/default

block main
  h1= title
  hr

block content
  - var action = '/people/' + people._id + '/articles'
  - action += article.isNew? '' : '/' + article.id

  .row
    .col-md-10
      script(type="text/javascript", src="/ckeditor/ckeditor.js")
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!article.isNew)
          input(type="hidden", name="_method", value="PUT")

          input(type="hidden", name="people", value=people._id)
          .form-group
            label.col-sm-1.control-label(for='title') 인물
            .col-sm-11
              a(href="/people/"+people._id)= people.name

        .form-group
          label.col-sm-1.control-label(for='title') 제목
          .col-sm-11
            input.form-control#title(type='text', name="title", value=article.title, placeholder='Enter the title')

        .form-group
          label.col-sm-1.control-label(for='desc') 내용
          .col-sm-11
            textarea.form-control#desc(rows="5", name="body", placeholder='Enter the article description')=article.body
            script.
              CKEDITOR.replace('desc');

        .form-group
          label.col-sm-1.control-label(for='tags') 태그
          .col-sm-11
            input.form-control#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')

        .form-group
          .col-sm-offset-1.col-sm-11
            button.btn.btn-default(type='submit') 저장
            | &nbsp;
            a.btn.btn-default(href='/articles', title="cancel") 취소

    .col-md-2
      - if (!article.isNew && article.image && article.image.files && article.image.files.length)
        img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
      img(src="http://cdn.ddanzi.com/201305-images/1186467.jpg", width="200px", height="200px")