extends ../layouts/default

//block main

block content
  .row.people-info
    .col-md-12
      .header
        //span.h3.name= people.name
        a.btn.btn-default.h3.name(href='/people/'+people._id+'/articles/new', title="글쓰기")= people.name
          에 관한 새글쓰기
        - if (people.user)
          - var name = people.user.name ? people.user.name : people.user.username
          span.date.muted= formatDate(people.createdAt, "%b %d, %Y at %I:%M %p")
          span.author.muted 글쓴이 : 
            a(href="/users/"+people.user._id)= name
          

      h4.title= people.title
      p.body
        !{people.body}
      //a.btn.btn-primary(href='/people/'+people._id+'/articles/new', title="글쓰기") 글쓰기
      .meta
        //- if (people.user)
        //  - var name = people.user.username ? people.user.username : people.user.name
        //  p Author :&nbsp;
        //    a(href="/users/"+people.user._id)= name

        //- if (people.tags)
        //  p Tags &nbsp;
        //    - each tag in people.tags.split(',')
        //      i.muted.fa.fa-tag &nbsp;
        //      a.tag(href="/tags/"+tag)= tag
        //      | &nbsp;&nbsp;

        //p.muted= formatDate(people.createdAt, "%b %d, %Y at %I:%M %p")

    //.col-md-4
    //  - if (!people.isNew && people.image && people.image.files && people.image.files.length)
    //    img(src=people.image.cdnUri + '/mini_' + people.image.files[0])

  hr

  .row.article-info
    .col-md-12
      .header
        span.title.h3= article.title
        span.date.muted= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")
      p.body
        !{article.body}
      button#hate.btn.btn-default(data-article_id=article.id,data-button=article.button)= article.button
        p.hate-label 싫어요
      .meta
        - if (article.user)
          - var name = article.user.name ? article.user.name : article.user.username
          p 글쓴이 :&nbsp;
            a(href="/users/"+article.user._id)= name

        - if (article.tags)
          p 태그 &nbsp;
            - each tag in article.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

      //.col-md-4
      //  - if (!article.isNew && article.image && article.image.files && article.image.files.length)
      //    img(src=article.image.cdnUri + '/mini_' + article.image.files[0])
    

    - if (isAuthor == true)
      form#dml-buttons(action="/articles/"+article.id, method="post", onsubmit="return confirm('정말로 진행하시겠습니까?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        a.btn.btn-default(href='/people/'+people._id+'/articles/'+article._id+'/edit', title="edit") 글수정 
        | &nbsp;
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-default(type="submit") 글삭제

  br
  hr
  
  //h3 Comments
  - each comment in article.comments
    include ../comments/comment
  include ../comments/form
