extends auth

block auth
  form.form-horizontal(action="/users/session", method="post", role="form")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    p.col-sm-offset-2.error= message

    .form-group
      label.col-sm-2.control-label(for="email") 이메일
      .col-sm-10
        input#email.form-control(type="email", placeholder="Email", name="email")

    .form-group
      label.col-sm-2.control-label(for="password") 비밀번호
      .col-sm-10
        input#password.form-control(type="password", placeholder="Password", name="password")

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') 로그인
        | &nbsp; &nbsp;
        a.btn.btn-default.show-signup(href="/signup") 가입하기
