extends auth

block auth
  form.form-horizontal(action="/users", method="post", role="form")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    .form-group
      label.col-sm-2.control-label(for='name') 이름
      .col-sm-10
        input#name.form-control(type='text', name="name", placeholder='Full name', value=user.name)

    .form-group
      label.col-sm-2.control-label(for='email') 이메일
      .col-sm-10
        input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

    .form-group
      label.col-sm-2.control-label(for='username') 유저아이디
      .col-sm-10
        input#username.form-control(type='text', name="username", placeholder='Username', value=user.username)

    .form-group
      label.col-sm-2.control-label(for='password') 비밀번호
      .col-sm-10
        input#password.form-control(type='password', name="password", placeholder='Password')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') 가입하기
        | &nbsp; or &nbsp;
        a.btn.btn-default.show-login(href="/login") 로그인
