extends ../layouts/default

block main
  //h1= title
  //hr

block content
  - var action = '/people'
  - action += people.isNew? '' : '/' + people._id

  .row
    .col-md-10.main-column
      
      //h1.title= title
      //hr

      script(type="text/javascript", src="/ckeditor/ckeditor.js")
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!people.isNew)
          input(type="hidden", name="_method", value="PUT")

        .form-group
          label.col-sm-1.control-label(for='name') 이름
          .col-sm-11
            input.form-control#name(type='text', name="name", value=people.name, placeholder='Enter the Name')

        .form-group
          label.col-sm-1.control-label(for='title') 제목
          .col-sm-11
            input.form-control#title(type='text', name="title", value=people.title, placeholder='Enter the title')

        //.form-group
        //  label.col-sm-1.control-label(for='file') 사진
        //  .col-sm-11
        //    input.form-control#file(type='file', name="image[]")

        .form-group
          label.col-sm-1.control-label(for='desc') 내용
          .col-sm-11
            textarea.form-control#desc(rows="5", name="body", placeholder='Enter the people description')=people.body
            script.
              CKEDITOR.replace('desc');

        .form-group
          label.col-sm-1.control-label(for='tags') 태그
          .col-sm-11
            input.form-control#tags(type='text', name="tags", value=people.tags, placeholder='Enter tags for people')

        .form-group
          .col-sm-offset-1.col-sm-11
            button.btn.btn-default(type='submit') 저장
            | &nbsp;
            a.btn.btn-default(href='/people', title="cancel") 취소

    .col-md-2.right-column
      - if (!people.isNew && people.image && people.image.files && people.image.files.length)
        img(src=people.image.cdnUri + "/mini_" + people.image.files[0])
      img(src="http://cdn.ddanzi.com/201305-images/1186467.jpg", width="200px", height="200px")
