extends ../layouts/mobile

block main
  h1= title

block content
  - each people in peoples
    .people
      h3
        a(href='/people/'+people._id, title=people.title) #{people.title}
      p= people.body

      .meta.muted
        span= formatDate(people.createdAt)
        | &nbsp; - &nbsp;
        span Author &nbsp;

        - var name = people.user.name ? people.user.name : people.user.username

        a(href="/users/"+people.user._id)= name
        &nbsp; - &nbsp;
        - if (people.tags)
          - each tag in people.tags.split(',')
            | &nbsp;
            a.tag(href="/tags/"+tag)
              i.icon-tags
              |  #{tag}

  - if (pages > 1)
    ul.pagination
      != createPagination(pages, page)
