extends ../layouts/default

block main
  //h1= title

block content
  - if (articles.length)
    - each article in articles
      .article-row
        h4
          span.btn.btn-default.hate(readonly) #{article.button}
          a.name(href='/people/'+ article.people._id, title=article.title) #{article.people.name}
          a.title(href='/people/'+ article.people._id +'/articles/'+article._id, title=article.title) #{article.title}
          div.right.muted #{ utils.dateFormat(article.createdAt) }

        //p= article.body
        //a(href='/people/'+people._id+'/articles/new', title="new article") New Article
        //.meta
        //  span.muted= formatDate(people.createdAt)

        //  - if (people.user)
        //    | &nbsp; - &nbsp;
        //    span Author &nbsp;

        //    - var name = people.user.name ? people.user.name : people.user.username

        //    a(href="/users/"+people.user._id)= name

        //  - if (people.tags)
        //    | &nbsp; - &nbsp;
        //    span Tags &nbsp;
        //    - each tag in people.tags.split(',')
        //      i.muted.fa.fa-tag &nbsp;
        //      a.tag(href="/tags/"+tag)= tag
        //      | &nbsp;&nbsp;

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted 새로운 인물 데이터가 없습니다.&nbsp;
      a(href="/people/new") 새인물 만들기
