extends ../layouts/default

//block main
  //h1= people.title

block content
  .row.people-info
    .col-md-12
      .header
        //span.h3.name= people.name
        a.btn.btn-default.h3.name(href='/people/'+people._id+'/articles/new', title="글쓰기")= people.name
          에 관한 새글쓰기
        - if (people.user)
          - var name = people.user.name ? people.user.name : people.user.username
          span.date.muted= formatDate(people.createdAt, "%b %d, %Y at %I:%M %p")
          span.author.muted 글쓴이 : 
            a(href="/users/"+people.user._id)= name
          

      h4.title= people.title
      p
        !{people.body}

      form(action="/people/"+people.id, method="post", onsubmit="return confirm('Are you sure?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        a.btn.btn-default(href='/people/'+people._id+'/edit', title="edit") 수정
        | &nbsp;
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-default(type="submit") 삭제


      //p
      //  !{people.body}
      //a(href='/people/'+people._id+'/articles/new', title="new article") New Article
      //.meta
      //  - if (people.user)
      //    - var name = people.user.name ? people.user.name : people.user.username
      //    p Author :&nbsp;
      //      a(href="/users/"+people.user._id)= name

      //  - if (people.tags)
      //    p Tags &nbsp;
      //      - each tag in people.tags.split(',')
      //        i.muted.fa.fa-tag &nbsp;
      //        a.tag(href="/tags/"+tag)= tag
      //        | &nbsp;&nbsp;

      //  p.muted= formatDate(people.createdAt, "%b %d, %Y at %I:%M %p")

    //.col-md-4
    //  - if (!people.isNew && people.image && people.image.files && people.image.files.length)
    //    img(src=people.image.cdnUri + '/mini_' + people.image.files[0])

  - if (articles.length)
    - each article in articles
      .article-row
        h4
          span.btn.btn-default.hate #{article.button}
          a.name(href='/people/'+ article.people._id, title=article.title) #{article.people.name}
          a.title(href='/people/'+ article.people._id +'/articles/'+article._id, title=article.title) #{article.title}
          div.right.muted #{ utils.dateFormat(article.createdAt) }

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No articles.&nbsp;
      a(href="/people/"+ people._id +"/articles/new") 새 글쓰기
