extends ../layouts/mobile


block main
  h1= people.title

block content
  .row
    .span9
      p=people.body
      .meta.muted
        - var name = people.user.name ? people.user.name : people.user.username
        p Author -&nbsp;
          a(href="/users/"+people.user._id)= name
        p.muted= formatDate(people.createdAt, "%b %d, %Y at %I:%M %p")
        - if (people.tags)
          .tags
            - each tag in people.tags.split(',')
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}
              | &nbsp;&nbsp;
    .span3
      - if (!people.isNew && people.image && people.image.files && people.image.files.length)
        img(src=people.image.cdnUri + '/mini_' + people.image.files[0])

  p
    br
    form.center.form-inline.confirm(action="/people/"+people.id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/people/'+people._id+'/edit', title="edit") Edit
      | &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  p
    br
    h3 Comments
    - each comment in people.comments
      include ../comments/comment
    include ../comments/form
